<body>
    <div>
        <H1>
            The Equalizer
        </H1>
        <p class="boxed">
            Sum of all contributions: {{this.manager.sumValues()}} <br>
            Cost per person: {{this.manager.shareAmount}} <br>
            <!-- Differences from shares: {{this.manager.calculateDifferences()}} -->
        </p>
        <br>
        <table>
            <tr *ngFor="let p of this.manager.persons; index as i">
                <app-person [name]="p.name" [amount]="p.amount" [position]="i" [difference]="p.difference"></app-person>
            </tr>
        </table>
            <button mat-stroked-button color="warm" class="button" (click)="onNewPersonClick()">Add Person</button>
    </div>
</body>