<div class="outer">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput (change)="onValueChanged()" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="rect" appearance="fill">
    <mat-label>Contribution</mat-label>
    <input matInput type="number" (change)="onAmountChanged()" [(ngModel)]="amount">
  </mat-form-field>
  <br>
  <!-- Name: {{name}}, Position: {{position+1}}, Difference from Sum: {{difference}} <br> -->
  <div *ngIf="difference > 0; then getBlock else giveBlock"></div>
    <ng-template #getBlock>{{name}} should receive {{getAbs(difference)}} [money]!</ng-template>
    <ng-template #giveBlock>{{name}} should give {{getAbs(difference)}} [money]!</ng-template>
  <P>
    <button class="button" (click)="onDeleteClicked()" mat-stroked-button>Delete</button>
  </P>
</div>