
* {
    /* top: 50%; */
    text-align: center;
    vertical-align: bottom;
}

.outer {
    outline-color: black;
    outline-style: dotted;
}

body {
    background-color: aqua;
}

.button {
    margin: 8px;
}